<h2>Change log</h2>
<h2>1.1.4</h2>

<h3>Fixes and changes:</h3>

<p>License and legal information has changed. Please take time to review them. By continuing to use StreamFusion, you agree to all of the terms and conditions provided on the "License and legal information" page.</p>

<ul>
  <li>Reorganized some code. There shouldn't be any end-user visible changes.</li>
</ul>

<p>You can find the complete change log for all versions <a class="js-external-link" href="http://bit.ly/StreamFusionUpdate">here.</a></p>
