<h2>Change log</h2>
<h2>1.3.0</h2>

<h3>Fixes and changes:</h3>

<ul>
  <li>Keyboard shortcut changes:</li>
  <ul>
    <li>Shortcuts for reload and toggle dev tools now only work when the StreamFusion window is focused.</li>
    <li>Media keys now work OS-wide.</li>
  </ul>
  <li>Fixed an issue where sometimes the download button would immediately try to delete the downloaded file and cause all kinds of problems.</li>
  <li>Button to manage playlists is now not visible on tracks that aren't in your library.
</li>
</ul>

<h3>New features:</h3>

<ul>
  <li>StreamFusion overlay: Tells you what music you are playing, when you don't have StreamFusion focused. You can turn this off in the settings.</li>
  <li>You can now rename tracks after adding them to your library.</li>
</ul>

<p>You can find the complete change log for all versions <a class="js-external-link" href="http://bit.ly/StreamFusionUpdate">here.</a></p>
