<h2>Change log</h2>
<h2>1.1.3</h2>

<h3>Fixes and changes:</h3>

<ul>
  <li>Updated dependencies</li>
  <li>Fixed the "Update available" dialog message to make sense</li>
  <li>Change log now shows version number</li>
  <li>Color scheme changes:</li>
  <ul>
    <li>Changed color scheme file structure</li>
    <li>Moved default schemes file</li>
    <li>Custom scheme file now allows for multiple custom schemes</li>
    <li>Slightly changed colors of the high contrast color scheme
</li>
  </ul>
</ul>

<h3>New features:</h3>

<ul>
  <li>New color schemes:</li>
  <ul>
    <li>Light</li>
    <li>Midnight Blue</li>
  </ul>
</ul>

<p>You can find the complete change log for all versions <a class="js-external-link" href="http://bit.ly/StreamFusionUpdate">here.</a></p>
