<img class="aboutPageIcon inlineBlock" src="icons/icon.png">
<h2 class="inlineBlock">StreamFusion license and legal information</h2>
<p>
  StreamFusion is open-source software distributed under the BSD 2-clause license.
  This license can be found below. You must agree to the terms and conditions of the license to use StreamFusion.
</p>
<p><b>Third party services</b></p>
<p>
  StreamFusion uses services provided by third parties to function. These include but may not be limited to YouTube and SoundCloud,
  their searching functionality and content delivery.
  You must accept the terms and services of these third parties to use StreamFusion. These are linked below.
  These services are collectively refered to as "third parties" or "third party service providers".
</p>
<p><b>User data and privacy policy</b></p>
<p>
  StreamFusion stores data about you and your usage of the program locally on your computer.
  This data is not shared, in any form, with anyone else other than you, and StreamFusion does not transmit this information
  to anywhere outside your computer. This data includes:
</p>
<ul>
  <li>What music you have added to your library</li>
  <li>What music you have downloaded</li>
  <li>What music you listen to</li>
  <li>Monthly play counts per track</li>
  <li>How many times you have listened to a track</li>
</ul>
<br>
<p>
  StreamFusion does not explicitly transmit any collected user information to any third party.
  However, during normal operation of StreamFusion, third parties may be able to collect some information
  on you, acquired from the traffic between StreamFusion and third party service providers.
  This information may include, but may not be limited to:
</p>
<ul>
  <li>What music you have downloaded</li>
  <li>What music you listen to</li>
  <li>What you search for</li>
  <li>Your IP address</li>
</ul>
<p>
  In addition to this, StreamFusion does inform an external internet server when you update StreamFusion.
  During this process, only information about the version you are updating to,
  and the version you are updating from are sent to the server.
  This information is not shared with anyone in an identifiable manner.
</p>
<p><b>Agreeing to the terms of service</b></p>
<p>
  To use StreamFusion, you must read and agree to all of the following documents.
  Click "I agree" below to confirm that you have read and agree to all terms and conditions stated
  in this document as well as all the documents linked here. If you change your mind, you can come back and reject
  the terms of service at any time from the "License and legal information" section of the menu.
  <br>
  <a class="js-external-link" href="https://www.youtube.com/static?template=terms">YouTube Terms of Service</a>
  <br>
  <a class="js-external-link" href="https://soundcloud.com/terms-of-use">SoundCloud Terms of Use</a>
  <br>
  <a class="js-external-link" href="https://soundcloud.com/pages/privacy">SoundCloud Privacy Policy</a>
  <br><br>
  StreamFusion License:
  <br>
  Copyright 2021 K1GOL
  <br><br>
  Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  <br><br>
  1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
  <br><br>
  2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
  <br><br>
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

</p>
