<div class="listItem %CLASS%" id="listItem-%ID%">
  <span class="listItemPlayPause listItemControl listItemControlClickable" id="playPause-%ID%">
    <img class="listItemIcon listItemPlayPauseIcon" id="iconPlayPause-%ID%" src="%SRC-PLAYPAUSE%"><p class="iconLabel playPauseIconLabel" id="iconLabelPlayPause-%ID%">%LABEL-PLAYPAUSE%</p>
  </span>
  <span class="listItemLocal listItemControl listItemControlClickable" id="local-%ID%">
    <img class="listItemIcon" src="%SRC-DOWNLOADDELETE%" id="iconDownloadDelete-%ID%"><p class="iconLabel" id="iconLabelDownloadDelete-%ID%">%LABEL-DOWNLOADDELETE%</p>
  </span>
  <span class="listItemLibrary listItemControl listItemControlClickable" id="library-%ID%">
    <img class="listItemIcon" src="%SRC-ADDREMOVELIBRARY%" id="iconAddRemove-%ID%"><p class="iconLabel" id="iconLabelAddRemove-%ID%">%LABEL-ADDREMOVELIBRARY%</p>
  </span>
  <span class="listItemPlaylists listItemControl listItemControlClickable" id="playlists-%ID%">
    <img class="listItemIcon" src="icons/menu.png" id="iconPlaylists-%ID%"><p class="iconLabel" id="iconLabelPlaylists-%ID%">Manage playlists</p>
  </span>
  <span class="listItemPlaylists listItemControl listItemControlClickable" id="rename-%ID%">
    <img class="listItemIcon" src="icons/settings.png" id="iconRename-%ID%"><p class="iconLabel" id="iconLabelRename-%ID%">Rename</p>
  </span><br>
  <h3 class="listItemControl">%TRACKNAME%</h3><br>
  <p class="listItemControl listItemArtistName">%ARTISTNAME%</p>
  <span class="listItemRightSide">
    <p class="listItemDuration">%DURATION%</p>
    <img class="listItemIcon listItemSourceIcon" src="icons/%SRC%.png" alt="%SRC%">
  </span>
</div>
